<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rock.mapper.EmployeeMapper">


    <select id="selectAllEmployee" resultType="com.rock.entity.Employee">
        SELECT emp_id as id,emp_name as name,emp_role as role FROM Employee
    </select>

    <select id="getEmpById" resultType="com.rock.entity.Employee">
        SELECT * FROM Employee WHERE emp_id = #{empId}
    </select>


</mapper>